body {
    border: 2px solid #000000;
    padding: 10px;
    margin: 10px;
    margin-inline-end: 50%;
    font-size: 20px;
}
figcaption {
    font-size: 15px;
    margin-left:20px;
    font-style: italic;
}
a {
    text-decoration-line: none;
    color:rgb(57, 27, 233);
}
a:hover {
    color:rgb(109, 209, 176);
}
a:visited {
    color:blueviolet;
}


