* {
    margin: 40px;
    padding: 0;
    box-sizing: border-box;
}
p:hover {
    display: block;
    width:200px;
    height: 200px;
    background-color: green;
    color:aliceblue;
    border: 40px;
    border-radius: 10px;
    padding: 10px;
    margin: 40px;
    transform: rotate(15deg);
    transition: all 3s;
}
